.front__content {
    display: flex;
    border-radius: 10px;
    margin: 0 auto;
    height: 600px;
    min-width: 100vh;
    top: 50px;
    box-shadow: 0.3px 0.3px 0.3px -1px;
    margin-bottom: 40px;
}

/* 아티스트 차트 순위 */

.artist_chart,
.track_chart {
    background-color: #fff;
    margin: 10px;
    border: 5px solid black;
    border-radius: 16px;
    width: 50%;
    height: 96%;
    padding: 8px;
}

.artist_chart li,
.track_chart li {
    list-style: none;
    border: 3px solid #006494;
    border-radius: 10px;
}

.chartList {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 8px;
}

.artistCharNumber,
.trackCharNumber {
    display: flex;
}

.artistName,
.trackTitle {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.artistName:hover,
.trackTitle:hover {
    color: #3590f3;
}

.artist_name {
    text-decoration: none !important;
    color: black;
}

.artist_name:hover {
    color: #3590f3;
}

.artisTopTitle, 
.trackTopTitle {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}
